
$color-blanco: #e9e6e6;
$color-negro: #1F1C1E;
$color-lila: #C17ECE;
$color-lilaclaro: #63446b;
$gradiente-lila:linear-gradient(0deg, rgba(31,8,55,1) 0%, rgba(193,126,206,1) 66%, rgba(193,126,206,1) 100%);    