
$color-blanco: #e9e6e6;
$color-negro: #1F1C1E;
$color-lila: #63446b;
$color-lilaclaro: #d79ae4;
$gradiente-lila:linear-gradient(0deg, rgba(31,8,55,1) 0%, rgba(193,126,206,1) 66%, rgba(193,126,206,1) 100%);    
$color-naranja: #f3a26c;
$color-verde:#b6f548;
// $color-verde: #CAEB91; 
$color-aqua: #91EBDD; 
$color-amarillo:#f5ec77;
$naranja-op: rgba(255, 128, 69, 0.7);
